/*================================

Universal Styling

*================================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fredericka the Great', cursive;
  src: url('../fonts/FrederickatheGreat-Regular.ttf') format('truetype');
  font-family: 'Permanent Marker', cursive;
  src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
}

/*=====================================

Header Styling

*======================================*/

header {
  background: rgb(0 0 0 / 50%);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: White;
  text-align: left;
  font-size: 18px;
  z-index: 100;
  top: .5%;
  padding-left: 20px;
  width: 25%;
  display: inline-block;
}

nav {
  width: 74%;
  display: inline-block;
}

header nav li {
  font-family: 'Permanent Marker', cursive;
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
  text-shadow: 2px 2px 4px #000000;
}

header nav ul {
  text-align: right;
  font-size: 30%;
}

header a {
  color: White;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
  font-size: 18px;
}

header a:hover {
    color: blue;
    text-decoration: underline;
}

footer {
  font-family: 'Fredericka the Great', cursive;
  position: relative;
  display: inline-block;
  right: -570px;
}

/*====================================

Main Body Style

*===================================*/

body {
  display: inline-block;
}

.center {
   position: relative;
   display: block;
   max-width: 665px;
   padding-top: 65px;
   left: 300px;
   margin-left: auto;
   margin-right: auto;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.center:hover .image {
  opacity: 0.3;
}

.center:hover .middle {
  opacity: 1;
}

.text {
  background-color: #0cf2f5;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
