/*================================

Universal Styling

*================================*/

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Fredericka the Great', cursive;
  src: url('../fonts/FrederickatheGreat-Regular.ttf') format('truetype');
  font-family: 'Permanent Marker', cursive;
  src: url('../fonts/PermanentMarker-Regular.ttf') format('truetype');
}

/*=====================================

Header Styling

*======================================*/

header {
  background: rgb(0 0 0 / 50%);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  z-index: 99999;
}

h1 {
  font-family: 'Fredericka the Great', cursive;
  color: White;
  text-align: left;
  font-size: 18px;
  z-index: 100;
  top: .5%;
  padding-left: 20px;
  width: 25%;
  display: inline-block;
}

nav {
  width: 74%;
  display: inline-block;
}

header nav li {
  font-family: 'Permanent Marker', cursive;
  list-style-type: none;
  display: inline-block;
  padding-right: 20px;
  text-shadow: 2px 2px 4px #000000;
}

header nav ul {
  text-align: right;
  font-size: 30%;
}

header a {
  color: White;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000;
  font-size: 18px;
}

header a:hover {
    color: blue;
    text-decoration: underline;
}

/*====================================

Main Body Style

*===================================*/

body {
  display: inline-block;
  background-image: url('../images/portfoliobg.png');
  background-size: cover;
}

.center {
   position: relative;
   display: inline-block;
   max-width: 300px;
   padding-left: 10px;
   top: 135px;
   left: 200px;
   margin-left: auto;
   margin-right: auto;
}

.bubble {
  position: relative;
  display: inline-block;
  padding-left: 10px;
  top: 180px;
  left: 230px;
  margin-left: auto;
  margin-right: auto;
}

section {
  position: relative;
  font-family: 'Permanent Marker', cursive;
  font-size: 175%;
  top: 150px;
  left: 220px;
}

body section li {
  list-style-type: none;
  text-decoration: none;
  display: inline-block;
  padding-left: 75px;
  padding-right: 80px;
}

section a{
  color: white;
}

section a:hover {
    color: blue;
}
